{
  "Entries": [
    {
      "RequestUri": "/subscriptions/592cc9de-a3cd-4d70-9bc1-c1a28a3625b5/resourceGroups/hydra17397/providers/Microsoft.Cache/Redis/hydracache1/listKeys?api-version=2017-02-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"Nr80eVPF00C4gbBcSaTcAdGvdOIbE6m2YLQAYQnp0BQ=\",\r\n  \"secondaryKey\": \"S5MhS18Vb2HaBWXpd1PMrZ62zaXgA/RENGb1PZkBkPQ=\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-rp-server-mvid": [
          "16ff3699-4c27-4ba1-b00f-4cdc571911f4"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "592cc9de-a3cd-4d70-9bc1-c1a28a3625b5"
  }
}