{
  "Entries": [
    {
      "RequestUri": "/subscriptions/592cc9de-a3cd-4d70-9bc1-c1a28a3625b5/resourceGroups/RedisGetList7416/providers/Microsoft.Cache/Redis/RedisGetList5992/listKeys?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"/L5uWBc26Kzf11lTYC+f6rQgzzSUXe6cTYdY0C0VWGo=\",\r\n  \"secondaryKey\": \"tJ5Hf4RM59iRD6WOT532qoSTGNa5hoDXX9XKqFNMFBU=\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-rp-server-mvid": [
          "55e3e384-e711-4831-b869-79bc47f84051"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "592cc9de-a3cd-4d70-9bc1-c1a28a3625b5"
  }
}